/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 mai 2019, 15:22:37
    Author     : les-k
*/

nav ul{
    display: table;
    width: 100%;
    height: 50px;
    margin: 100px auto;
    padding: 0;
    background:                                     #353E71;
    background:         linear-gradient(#353E71, #101426);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}

nav ul li{
    display: table-cell;
    height: 100%;
    box-shadow: 0 1px 0 rgba(10, 10, 10, .7) inset, 
                0 -1px 0 hsl(229, 20%, 6%) inset, 
                0 -2px 0 hsl(229, 20%, 10%) inset, 
                0 -3px 0 hsl(229, 20%, 14%) inset, 
                0 -4px 0 hsl(229, 20%, 18%) inset, 
                0 -5px 0 hsl(229, 20%, 22%) inset; 
    color: white;
    text-align: center;
}

nav ul li a{
    display: block;
    text-align: center;
    font-size: 24px;
    color: rgba(255, 255, 255, .8); 
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
    transition: all .3s .1s;
    position: relative;
}

nav ul li a:hover, 
nav ul li a:focus{
    background: rgba(255,255,255,.1);
    box-shadow: 0 1px 0 rgba(20, 20, 20, .7) inset, 
                0 -1px 0 hsl(229, 20%, 6%) inset, 
                0 -2px 0 hsl(229, 20%, 10%) inset, 
                0 -3px 0 hsl(229, 20%, 14%) inset, 
                0 -4px 0 hsl(229, 20%, 18%) inset, 
                0 -5px 0 hsl(229, 20%, 22%) inset;
    padding: 8px 25px 17px 25px;
    transition: all .3s 0s;
} 

ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

ul li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

ul li a:hover::before,
ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}